body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  width: %10;
  margin: 50px auto 0;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999E;

}

a {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

hr {
  border: dotted #EAF6F6 6px;
  width: 4%;
  border-bottom: none;
  margin: 100px auto;
}

p {
  line-height: 2;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.top-container {
  background-color: #F9F5EB;
  position: relative;
  padding-top: 100px;
}

.intro {
  color: #40514E;
  width: 30%;
  margin: auto;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.middle-container {
  padding: 10px;
}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.design-img {
  width: 25%;
  float: right;
  margin-right: 30px;
}

.mountain-img {
  margin-top: 4px;
}

/*
.development-description {
  clear: left;
}

.design-description {
  clear: right;
}
*/

.contact-me {
  /*padding: 50px;*/
  width: 40%;
  margin: 50px auto 60px;
}

.social-media-description{

  margin: 40px auto;

}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -o-linear-gradient(top, #11cdd4,  #11999e);
  background-image: linear-gradient(to bottom, #11cdd4,  #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}


.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.footer-link{
  color: #11999E;
}

.copyright {
  color: #EAF6F6;
}

  line-height: 2;
}

.top-container {
  background-color: #F9F5EB;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.middle-container {
  padding: 10px;
}

/*
.development-description {
  clear: left;
}

.design-description {
  clear: right;
}
*/
.bottom-container {

}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.design-img {
  width: 25%;
  float: right;
  margin-right: 30px;
}
